//
   Created by donmclean on 12/5/15.

doctype html
html(lang="en" ng-app="iko" ng-controller="MainController")
    head
        title(ng-bind="models.title")
        <!-- inject:css -->
        <!-- endinject -->

    body
        h1(class="center-align-text" ng-bind="models.title")
        div(ng-controller="ErrorController")
            h1(ng-bind="models.test")

        .container
            .main-nav(class="d")
                nav
                    ul
                        li(ng-repeat="t in tabs")
                            a(ui-sref="{{t.href}}" ng-bind="t.name")
        .content(ui-view)

        <!-- inject:js -->
        <!-- endinject -->