//
   Created by donmclean on 12/15/15.

doctype html
html(lang="en" ng-app="test" ng-controller="MainController")
    head
        title(ng-bind="models.title")
        link(href="../../assets/css/test/styles.min.css" rel="stylesheet" type="text/css")

    body
        h1(class="center-align-text" ng-bind="models.title")
        div(ng-controller="ErrorController")
            h1(ng-bind="models.test")

        .main-nav
            nav
                ul
                    li(ng-repeat="t in tabs")
                        a(href="#" ng-bind="t")

        script(type='text/javascript' src='../../assets/js/deps.min.js')
        script(type='text/javascript' src='../../assets/js/test/test.min.js')